$font-stack: 'Dosis', sans-serif;

/* SCSS Mixins
   ========================================================================== */

@mixin border($color) {
    border: 1px solid $color;
}

@mixin height($height) {
    height: $height;
}

@mixin flex {
    display: flex;
}

@mixin full-height {
    @include height(100%);
}

@mixin full-width {
    @include width(100%);
}
