@import 'common';

body, html {
  font: 100% $font-stack;
  @include full-height;
  margin: 0px;
}

#game-of-life {
    @include flex;
    @include full-height;
}

.table {
    border-collapse: collapse;
    tbody td {
        border: 1px solid $grey400;
        width: 15px;
        height: 15px;
    }
}